{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.siren) }}
    {{ form_row(form.immatriculation_city) }}
    {{ form_row(form.immatriculation_date) }}
    {{ form_row(form.capital) }}
    {{ form_row(form.form) }}

    <h3>Adresses</h3>
    <ul class="addresses" data-prototype="{{ form_widget(form.addresses.vars.prototype)|e('html_attr') }}">
        <button type="button" class="add_item_link" data-collection-holder-class="addresses">Ajouter une adresse</button>
        {% for address in form.addresses %}
        <li>
            {{ form_row(address.number) }}
            {{ form_row(address.type) }}
            {{ form_row(address.name) }}
            {{ form_row(address.zipcode) }}
            {{ form_row(address.city) }}  
         
        </li>
        {% endfor %}
    </ul>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
