{% extends 'base.html.twig' %}

{% block title %}Société{% endblock %}

{% block body %}
<h1>Société</h1>
{{ form(form) }}

{% if company %}



<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ company.id }}</td>
        </tr>
        <tr>
            <th>Noms</th>
            <td>{{ company.name }}</td>
        </tr>
        <tr>
            <th>Siren</th>
            <td>{{ company.siren }}</td>
        </tr>
        <tr>
            <th>Ville d'immatriculation</th>
            <td>{{ company.immatriculationCity }}</td>
        </tr>
        <tr>
            <th>date d'immatriculation</th>
            <td>{{ company.immatriculationDate ? company.immatriculationDate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Capital</th>
            <td>{{ company.capital }}</td>
        </tr>
        <tr>
            <th>Forme Juridique</th>
            <td>{{ company.form }}</td>
        </tr>
        <tr>
            <th>Adresses</th>
            <td>
                <ul>
                    {% for address in company.addresses %}
                    <li>
                        {{ address.number }}
                        {{ address.type }}
                        {{ address.name }}
                        {{ address.zipcode }}
                        {{ address.city }}
                    </li>
                    {% endfor %}
            </td>
        </tr>
    </tbody>
</table>


<a href="{{ path('company_index') }}">retour à la liste</a>

<a href="{{ path('company_edit', {'id': company.id}) }}">modifier</a>

{{ include('company/_delete_form.html.twig') }}
{% else %}
La companie n'a pas encore été saisie !!
{% endif %}

{% endblock %}